@charset "UFT-8";

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


nav {
    background-color: black;
    margin: 0;
    padding: 30px;
    text-align: right;
}


nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 10px;
    transition-duration: 0.3s;
}

nav a:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 3px;
}

header {
    background-color: black;
    color:  white;
    padding-left: 5%;
    min-height: 550px;
}

header h2 {
    padding-top: 100px;
    padding-bottom: 30px;
}

header h1 {
    font-size: 5em;
    padding-bottom: 15px;
}

header p {
    max-width: 500px;
    padding-bottom: 50px;
}

header a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
    font-weight: bolder;
    border-radius: 3px;
    
}

article {
    margin: 0px;
}

article h2 {
    font-size: 3em;
    margin: 50px;
    text-align: center;

}

#container-imagens {
    display: grid;
    place-items: center;
}

#container-imagens img {
    margin-bottom: 50px;
    max-width: 90%;
}

#container-jogos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 7px;
    margin-top: 25px;
    font-size: .7em;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}