@charset "UFT-8";

@font-face {
    font-family: Kanit;
    src: url(font/Kanit-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Kanit;
    src: url(font/Kanit-Regular.ttf);
}


@font-face {
    font-family: Kanit;
    src: url(font/Kanit-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Kanit;
    src: url(font/Kanit-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Kanit;
    src: url(font/Kanit-Black.ttf);
    font-weight: 900;
}

* {
    margin: 0;
    font-family: "Kanit", Helvetica, sans-serif;
}


nav {
    background-color: black;
    margin: 0;
    padding: 30px;
    text-align: right;
    font-weight: 300;
}


nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 10px;
    transition-duration: 0.3s;
}

nav a:hover {
    background-color: white;
    color: black;
    border-radius: 3px;
}

header {
    background-color: black;
    color:  white;
    padding-left: 5%;
    min-height: 680px;
}

header h2 {
    padding-top: 50px;
    padding-bottom: 10px;
    font-weight: 300;
}

header h1 {
    font-size: 4em;
    padding-bottom: 0px;
    font-weight: 900;
}

header p {
    max-width: 500px;
    padding-bottom: 100px;
    font-weight: 100;
}

header a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
    font-weight: 700;
    border-radius: 3px;
    
}

article {
    margin: 0px;
}

article h2 {
    font-size: 3em;
    margin: 50px;
    text-align: center;
    font-weight: 900;

}

#container-imagens {
    display: grid;
    place-items: center;
}

#container-imagens img {
    margin-bottom: 50px;
    max-width: 90%;
}

#container-jogos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 7px;
    margin-top: 25px;
    font-size: .7em;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}